[submodule "lib/xsb_public"]
	path = lib/xsb_public
	url = git@github.com:amyinorbit/xsb_public.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "lib/tomlc99"]
	path = lib/tomlc99
	url = git@github.com:cktan/tomlc99.git
